.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movieImage {
  border-radius: 10px;
}

.col {
  max-width: 400px;
  height: auto;
  width: 80%;
  margin: 15px;
  text-align: left;
}

.movieDetails {
  font-size: 1.5rem;
}
