@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
}
.title {
  font-size: 3rem;
  color: #9f91fe;
}

header {
  padding: 30px 0;
}
